*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.calculator{
    background-color: rgb(32, 45, 96);
    padding: 20px;
    margin: 0px;
    border-radius: 15px;
    
}
.calculator h1{
    
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.displayContainer #display{
    width: 300px;
    /* background-color: antiquewhite; */
    height: 60px;
    margin-top: 15px;
    padding: 5px 10px;
    font-size: 20px;
    box-shadow: none;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: right;
    font-size: 22px;
    box-shadow: -8px -8px 15px rgba(50, 46, 114, 0.1),
                5px 5px 15px rgb(20, 20, 20);
}
form input{
    width: 60px;
    height: 60px;
    margin: 8px;
    border: none;
    outline: none;
    box-shadow: -8px -8px 15px rgba(50, 46, 114, 0.1),
                5px 5px 15px rgb(20, 20, 20);
    border-radius: 5px;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
form input.equal{
    width:140px;
}